/* ------ CSS RESET ------ */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* ------------ MAIN STYLING ---------- */

body {
    width: 75%;
    max-width: 670px;
    margin: auto;
    background: #fafafa;
    color: #333;
}

/* ----------- TYPOGRAPHY ----------- */

h1, h2, h3 {
    font-weight: normal;
    color: black;
    text-align: center;
}

p, li, blockquote{
    margin-bottom: 1.5em;
    line-height: 1.4;
}

h1 {
    font-size: 3.998em;
    margin-top: 1em;
    margin-bottom: .2em;
}

h3
{
    font-size: 1.999em;
}

blockquote {
    hanging-punctuation: first;
    text-indent: -0.5em;
    margin: 1em;
}

h2 {
    font-style: italic;
    font-size: 2.35em;
    margin-top: 0.1em;
    margin-bottom: 1em;
    color: #333;
}
.intro {
    font-size: 1.25em}
}
intro.caps{
    text-transform: uppercase
}
/* ----------- BLOCKQUOTE -------*/

blockquote {
    padding: 1em 0 4em 0;
    font-size: 1.75em;
    line-height: 1.3;
    color: #777;
}

blockquote cite {
    font-size: 0.75em;
}

/*-----VERSION1------*/
.version01{
    font-family: "libre baskerville", serif;
}
.v1-paragraph2::first-letter{
    float:left;
    font-size: 4.7em;
    line-height: 0.5em;
    margin-right: 0px;
}

/*------ VERSION2------*/

.version02 {
    font-family: 'open sans', sans-serif;
}
introcaps {
    text-transform: uppercase;
}
.version02 blockquote cite{
    font-style: normal;
    text-transform: uppercase;
    font-size: .65em;
}
.version02 p+p {
    margin-bottom: -.1em;
}
.version02 p+p+p {
    text-indent: 1.5em;
}

/*-----Version 3----*/

.version03{
    font-family: 'arvo',serif;
}
.version03 p{
    font-family: 'open sans',sans-serif;
}
.version03 blockquote{
    font-family: 'arvo',serif;
}

.version03 blockquote cite{
    font-style: normal;
    text-transform: uppercase;
    font-size: .55em;
}

/*----------- FOOTER ---------*/

footer {
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 2em 0 4em 0;
}

hr {
    margin: 1em 0;
    height: 1px;
    background-color: #c06;
    color: #c06;
    border: 0 none
}




